app/config/database.php
app/config/deploy.php
app/tmp/cache/assessments/*
app/tmp/cache/models/cake_*
app/tmp/cache/persistent/cake_*
app/tmp/cache/views/cake_*
app/tmp/cache/cake_*
app/tmp/logs/*.log
app/tmp/logs/shell_sql_dump.csv
app/tmp/sessions/sess_*
app/tmp/import/*
app/tmp/tests/*
app/tmp/reports/*
app/tmp/medical_records/*
app/plugins/debug_kit
app/webroot/transmission_files/pending/*
app/webroot/transmission_files/batches/*
app/webroot/transmission_files/submitted/*
app/webroot/transmission_files/results/*
app/webroot/exports/*
app/webroot/screenshots/*
app/webroot/billing/ubs/*
app/webroot/transmission_files/test
app/webroot/roster_matrix/*html
app/webroot/census/*xml
.project
.settings
docs
temp
syncs
