/* form elements */
.left-column label { color: #000; }
.left-column .select select { padding: 5px; width: 98%; }
.left-column .input { display: block; }
.dates { display: block; clear: both; }
.float-left-end { float: left; clear: bottom; }


/* Left Navigation */
ul.left-nav { margin: 0; }
ul.left-nav li { display: block;  list-style-type: none; width: 250px; background: #CCC; border-left: 1px solid #AAA; border-bottom: 1px solid #AAA; border-right: 1px solid #AAA; padding: 4px 0 4px 10px; }
ul.left-nav li.menu { font-weight: bold; border: 0; background: #333; border-right: 2px solid #333; color: #FFF; font-size: 10pt; padding: 4px 0 4px 10px; }
ul.left-nav li:hover { background: #CCC; }
ul.left-nav li.menu:hover { background: #333; }
ul.left-nav li a { text-decoration: none; color: #333; font-size: 13px; }